/* 
.project-image {
    width: 100px;
    height: 10px;
} */

/* #view-button-1 {
    text-decoration: none;
    background-color: black;
    color: yellow;
} */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    flex-grow: 1;
    margin: 2%;
    margin-left: auto;
    margin-right:  auto;
}

.card-image-top {
    width: 20px;
    height: auto;
}