* {
    box-sizing: border-box;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    /* flex-grow: 1; */
    margin: 2%;
    margin-left: auto;
    margin-right:  auto;
    width: 100%;
}

.card-image-top {
    width: 20%;
    height: auto;
}

#navbar {color: brown;
    
}
.container-fluid {
    background-image: url(./Images/Images/Background-image-1.jpg);
    /* margin: 0%; */
    position: fixed;
    z-index: 1;
    padding: 2%;
    margin-top: 5%;
    ;
}

.navbar-toggler-icon {
    color: brown;
}

a {
    color: brown;
}